body{
margin:0;
background:black;
color:white;
font-family:sans-serif;
overflow:hidden;
}

/* TOP BAR */
#topBar{
position:fixed;
top:10px;
left:50%;
transform:translateX(-50%);
display:flex;
gap:10px;
z-index:1000;
}

/* DROPDOWN */
#songDropdown{
position:fixed;
top:60px;
left:50%;
transform:translateX(-50%);
z-index:1000;
padding:8px;
border-radius:20px;
background:#111;
color:white;
border:1px solid #8a2cff;
}

/* GAME */
#game{
height:100vh;
position:relative;
}

#lanes{
display:flex;
height:100%;
}

.lane{
flex:1;
border:1px solid rgba(255,255,255,0.1);
display:flex;
justify-content:center;
align-items:flex-end;
}

.lane span{
margin-bottom:20px;
opacity:0.7;
}

/* NOTE */
.note{
position:absolute;
width:70%;
height:20px;
background:#8a2cff;
left:15%;
border-radius:6px;
}

/* HIT LINE */
#hitLine{
position:absolute;
bottom:100px;
width:100%;
height:5px;
background:white;
box-shadow:0 0 10px white;
}

/* UI */
#score{position:fixed;top:100px;left:10px;}
#highScore{position:fixed;top:100px;right:10px;}

#combo{
position:fixed;
top:50%;
left:50%;
transform:translateX(-50%);
font-size:30px;
color:#8a2cff;
}

#feedback{
position:fixed;
top:40%;
left:50%;
transform:translateX(-50%);
}

/* START */
#startScreen{
position:fixed;
top:50%;
left:50%;
transform:translate(-50%,-50%);
display:flex;
flex-direction:column;
gap:10px;
}

/* LEADERBOARD */
#leaderboard{
position:fixed;
right:0;
top:150px;
width:200px;
max-height:300px;
overflow:auto;
background:#111;
padding:10px;
}

/* MOBILE */
@media(max-width:768px){

#leaderboard{
width:100%;
bottom:0;
top:auto;
max-height:200px;
}

#songDropdown{
top:80px;
}

}
